<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{ messageSubtitle }}</ion-card-subtitle>
        <ion-card-title>{{ messageTitle }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <form (ngSubmit)="save()">
            <!-- Inputs with labels -->
            <ion-item>
              <ion-label position="floating">Product:</ion-label>
              <ion-input [(ngModel)]="item.product" name="product" required></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label position="floating">Order Size</ion-label>
              <ion-input [(ngModel)]="item.ordersize" name="ordersize" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Amount:</ion-label>
              <ion-input [(ngModel)]="item.amount" name="amount" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">Client Name:</ion-label>
              <ion-input [(ngModel)]="item.clientname" name="clientname" required></ion-input>
            </ion-item>
      
            <ion-item>
              <ion-label position="floating">Client Phone:</ion-label>
              <ion-input [(ngModel)]="item.clientphone" name="clientphone" required></ion-input>
            </ion-item>

            <ion-card-content>
              <ion-button expand="block" size="medium" fill="outline" color="dark" type="submit">Save</ion-button>
            </ion-card-content>
          </form>
        </ion-list>        
      </ion-card-content>
    </ion-card>

    <app-tab2-container name="tab 2 container"></app-tab2-container>